# Archivos de compilación
/build
app/build
.gradle/

# Configuraciones locales del IDE (Android Studio / IntelliJ)
.idea/
*.iml
*.ipr
*.iws

# Archivos de configuración local del sistema y SDK
local.properties
.DS_Store
/captures
